{% extends "publications/base.html" %}
    {% block content %}
    <div>
        <form action="{% url 'publications:comment' pk %}" method="POST" class="create-comment-form">
            {% csrf_token %}
            {{ form }}
            <div class="bttn-submit">
                <button type="submit">Добавить комментарий</button>
            </div>
        </form>
    </div>
    <div>
        {% if not comments %}
            <h3>Комментариев пока нету, но Вы можете оставить новый.</h3>
        {% endif %}
            {% for comment in comments %}
                <div class="comment">
                    <p class="comment-text">{{ comment.text }}</p>
                    <form action="{% url 'publications:del_comment' pk=pk comment_id=comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Удалить комментарий</button>
                    </form>
                </div>
            {% endfor %}
    </div>
    {% endblock %}