{% extends "publications/base.html" %}
{% block content %}
        <main class="main">
            <div class="create-post">
                <form action="{% url 'publications:add_publication' %}" method="POST" class="create-post-form">
                    {% csrf_token %}
                    {{ form }}
                    <div class="bttn-submit">
                        <button type="submit">Создать пост</button>
                    </div>
                </form>
            </div>
            <div>
                <h3>Список опубликованных постов</h3>
            </div>
            <div class="post-list">
                {% if publications %}
                    {% for publication in publications %}
                        <div class="post-link">
                            <a href="{% url 'publications:detail' publication.id %}" class="post-link">
                                {{ publication.title }}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no publications yet.</p>
                {% endif %}
            </div>
        </main>
{% endblock %}